.wrapper {
  color: hsl(0, 96%, 27%);
  padding: 25px 0px 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 45px;
}
.nav-items {
  display: flex;
  column-gap: 45px;
  align-items: center;

  a {
    color: rgb(14, 13, 13);
  }
}
.sign-btn {
  color: hsl(351, 100%, 1%);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 11px;
  background-color: rgb(160, 9, 9);
  text-align: center;
  text-shadow: 1px 1px rgb(20, 20, 1);
}

.menu-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .nav-list .nav-items,
  .sign-btn {
    padding: 0px 20px;
    display: none;
  }
  .logo {
    font-size: 15px;
  }
  .menu-icon {
    display: block;
  }

  .main {
    flex-direction: column-reverse;
    text-align: center;
  }
}
